Options +SymLinksIfOwnerMatch
RewriteEngine On

# Allow Installatron requests
RewriteCond %{REQUEST_FILENAME} deleteme\.\w+\.php
RewriteRule (.*) - [L]

RewriteRule ^ index.php [L]

# Protect .env and other sensitive files
<FilesMatch "\.(env|env.example|git|htaccess|log|sql|json|lock|md)$">
  Order allow,deny
  Deny from all
</FilesMatch>

# Block direct access to core Laravel directories
RedirectMatch 403 ^/(app|bootstrap|config|database|resources|routes|storage)/.*
